*.sdf
EDK-II/.vs/EDK-II/v14/.suo
x64
*.opensdf
*.suo
debugger/stderr.txt
debugger/stdout.txt
*.opendb
openssl/include/internal/dso_conf.h
/EDK-II/.vs
/samples/.vs
*.vcxproj.user
*.db
*.exe
*.efi
*.pyc
*.log
/samples/SimpleVisor
/samples/EfiShellTools
/Scripts/*.py
/Scripts/*.bat
/Scripts/*.sh
/IntelHeaders/*
/Scripts/*
/samples/EfiShellTools/*
/samples/SimpleVisor/*
/IntelHeaders
